:root {
	--light-color: #f6f5f4;
	--light-accent-color: #c5d0c2;
	--hover-color: #998888;
	--bright-text-color: #1f4012;
	--dark-text-color: #402d1c;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: space-between;
	background-color: var(--light-color);
	font: 500 18px "Montserrat", sans-serif;
	letter-spacing: 2px;
	line-height: 2;
	color: var(--dark-text-color);
}

a {
	text-decoration: none;
	transition: color 0.5s;
	color: inherit;
}

a:hover {
	color: var(--hover-color);
}

li {
	list-style: none;
}

.container {
	display: flex;
	flex-direction: column;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

.header,
.footer {
	background-color: var(--light-accent-color);
	color: var(--bright-text-color);
}

.heading {
	color: var(--dark-accent-color);
	font-weight: 700;
}

.container-header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 80px;
}

.nav {
	display: block;
}

.nav__list {
	display: flex;
	gap: 20px;
}

.nav__list__item {
	font-weight: 700;
}

.section {
	width: 100%;
	display: flex;
	flex-direction: column;
  margin: 0 auto;
	padding: 20 0;
}

.section-main {
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.heading-main {
	font-size: 32px;
	border-bottom: 4px solid var(--light-accent-color);
}

.section-main_info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.photo {
	border-radius: 50%;
}

.code {
	display: block;
	overflow-x: auto;
	font-size: 14px;
}

.container-footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 90px;
}

.github {
	width: 50px;
	height: 50px;
	fill: var(--bright-text-color);
	transition: 0.5s;
}

.rsschool {
	width: 100px;
	height: 37px;
	fill: var(--bright-text-color);
	transition: 0.5s;
}

.github:hover,
.rsschool:hover {
	fill: var(--hover-color);
}
